.schedule-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}


.selected-date {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}